<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Va And Partners">
	<test thread-count="1" verbose="2" name="Default test">
		<parameter name="instaLogin" value="alik22"></parameter>
		<parameter name="instaPswd" value="12345678"></parameter>
		<parameter name="fbLogin" value="alikfb"></parameter>
		<parameter name="fbPasswd" value="12349877625376235678"></parameter>
		<classes>
			<class name="web365.home.page.test.HomeTabPageTest">
				<methods>
					<include name="destinationTabTest" />
					<include name="travelToArmeniaTabTest" />
					<include name="armeniaTabGenInfTest" />
					<include name="armeniaTabHistoryTest" />
					<include name="armeniaTabHolidaysTest" />
					<include name="armeniaTabExcursionsTest" />
					<include name="armeniaTabHotelsTest" />
					<include name="armeniaTabMuseumTest" />
					<include name="armeniaTabGalleryTest" />
					<include name="armeniaTabAboutTest" />
					<include name="armeniaTabContactsTest" />
				</methods>
			</class>


			<class name="web365.outgoing.test.OutgoingTest">
				<methods>
					<include name="outgoingTourUae" />
					<include name="outgoingTourJordan" />
					<include name="outgoingTourThailand" />
					<include name="outgoingTourSrilanka" />
					<include name="outgoingTourIsrael" />
					<include name="outgoingTourGeorgia" />
					<include name="outgoingTourBulgaria" />
					<include name="outgoingTourItaly" />
					<include name="outgoingTourGrecce" />
					<include name="outgoingTourCyprus" />
					<include name="outgoingTourFrance" />
					<include name="outgoingTourNorway" />
					<include name="outgoingTourCzech" />
					<include name="outgoingTourSpain" />
					<include name="outgoingTourEgypt" />
					<include name="outgoingTourSingapore" />
					<include name="outgoingTourMaldives" />
					<include name="outgoingTourBali" />
					<include name="outgoingTourRussia" />
					<include name="outgoingTourUkrain" />
				</methods>
			</class>

			<class name="web365.travel.to.armenia.test.IncomingTest">
				<methods>
					<include name="armeniaAndGeorgia" />
					<include name="armeniaFairyTale" />
					<include name="culturalTour8Days" />
					<include name="armeniaShortTour" />
					<include name="discoverArmeniaTour" />
					<include name="armeniaGharanaghTour" />
					<include name="recognizeArmenia" />
					<include name="culturalTour5Days" />
					<include name="uniqueArmenia" />
					<include name="aniqueArmenia" />
					<include name="antiquarianTour" />
					<include name="famTrip" />
					<include name="colorsOfArmenia" />
					<include name="honeymoon" />
					<include name="petroglyphTour" />
					<include name="vaccineTour" />
				</methods>
			</class>

			<class name="web365.history.and.culture.HistoryAndCultureTest">
				<methods>
					<include name="antiquity" />
					<include name="middleAges" />
					<include name="earlyModernEra" />
					<include name="worldWar1AndGenocide" />
					<include name="democraticRepublicOfArmenia" />
					<include name="sovietArmenia" />
					<include name="cultureOfArmenia" />
				</methods>
			</class>

			<class name="web365.holidays.and.traditions.HolidaysAndTraditionsTest">
				<methods>
					<include name="newYear" />
					<include name="nationalArmyDay" />
					<include name="womensDay" />
					<include name="maternityDay" />
					<include name="victoryAndPeaceDay" />
					<include name="republicDay" />
					<include name="constitutionDay" />
					<include name="indipendenceDay" />
					<include name="traditions" />
				</methods>
			</class>

			<class name="web365.tours.and.excursions.ToursAndExcursionsTest">
				<methods>
					<include name="erevanCity" />
					<include name="erebuniMuseum" />
					<include name="tsitsernakaberd" />
					<include name="matenadaran" />

					<include name="echmiadzin" />
					<include name="stHripsime" />
					<include name="stGayane" />
					<include name="motherCathedral" />
					<include name="zvartnots" />

					<include name="ashtarak" />
					<include name="aragats" />
					<include name="karmravor" />
					<include name="amberd" />

					<include name="oshakanHovhanavanq" />
					<include name="oshakan" />
					<include name="karmravor2" />
					<include name="saghmosavank" />
					<include name="hovhanavanq" />

                    <include name="garniGeghard" />
				</methods>
			</class>
		</classes>
	</test>
</suite>